$grid-gutter-width: 5px;
$font-size-base: 0.9rem;
$popover-max-width: 500px;
$popover-content-padding-x: 5px;
$card-spacer-x: 1rem;
$card-spacer-y: .5rem;
$list-group-border-width: 0;
$list-group-border-radius: 0;
$list-group-item-padding-x: $card-spacer-x;
$list-group-item-padding-y: $card-spacer-y;

@import "~bootstrap/scss/bootstrap";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.compact select.form-control {
  padding: 0.1rem !important;
  height: 100% !important;
}

.card-header.card-header-compact {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 0;

  h1, h2 h3, h4, h5, h6 {
    margin-bottom: 0;
  }

}

.popover-body .game-entry-main {
  width: 420px;
}

app-game-entry + app-game-entry > div:first-child {
  margin-top: 10px;
}

.flex-1-1-auto {
  flex: 1 1 auto;
}

.list-group-item:not(:last-of-type) {
  border-bottom-width: 1px;
}

.modal-header {
  align-items: center;
}

.nav-link[role='button'] {
  cursor: pointer;
}
